useDynLib(MLEMVD, .registration=TRUE)
exportPattern("^[[:alpha:]]+")
importFrom("Rcpp","evalCpp","sourceCpp")
importFrom("graphics", "par", "plot", "points")
importFrom("methods", "new")
importFrom("pracma","ceil")

